div{
    border-width: 10px;
    font-family: initial;
    font-size: 30px;
    padding: 0;
    margin-top: 150px;
    margin-left: 70%;
    border-style: double; 
    border-color: rgb(0, 0, 0);
    width: 400px;
    background-color: #87dfd9;
}    


body{
    background-image: url(../IMAGE/animal.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}

div hr{
    margin-left: 0;
}
a:hover{
    color: black;
    text-decoration: none;
    background-color: rgb(185, 18, 54);
    list-style: none;
}
header{
    background-color:black;
    width: 87%;
    position:fixed;
    z-index: 10000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:  20px 140px;
    position: relative;
}

.navigation a:hover{
    margin: 0;
    padding: 0;
}
.logo{
    text-decoration: none;
    color: wheat;
    text-transform: uppercase;
    font-weight: 850;
    font-size: 2.0em;
}
.navigation a{
    color: wheat;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 500;
    padding-left: 30px;
    text-transform: uppercase;
}
.navigation a:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
    font-weight:500 ;
    font-size:1.3em;
}
